$blue: #205398;
$lightBlue: #eef2f7;
$textBlue: #86a1c7;
$gray: #707070;
$lightGray: #f3f3f3;

* {
    margin: 0;
    padding: 0;
    display: block;
    font-family: "Lexend", sans-serif;
}

script,
style,
css {
    display: none !important;
}

body {
    display: flex;
    justify-content: center;
}

.star {
    margin-left: 3px;
    color: red !important;
}

label {
    display: flex;
    margin-bottom: 8px;
}

.mobilemenu{
    display: none;
    width: 100vw;
    height: 100vh;
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    ul{
        height: 90vh;
        justify-content: space-evenly;
        display: flex;
        flex-direction: column;
        align-items: center;
        li{
           a{
               text-decoration: none;
               font-size: 1.5rem;
               color: white;
           }
           i{
               color: white;
               margin-right: 1rem;
           } 
        }
    }
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background: white;
    padding: 2rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
        width: 8rem;
    }
     .menu ul {
        position: sticky;
        display: flex;
        align-items: center;
        a {
            i {
                margin-right: 0.5rem;
            }
            display: flex;
            align-items: center;
            margin-right: 2rem;
            text-decoration: none;
            font-size: 1.2rem;
            color: $blue;
            font-weight: 500;
        }
    }
    button {
        display: none;
        background: transparent;
        border: 0;
        cursor: pointer;
        i {
            color: $blue;
        }
    }
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.column {
    display: flex;
    flex-direction: column;
}

.hide {
    opacity: 0;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    max-width: 1800px;
    width: 80%;
    margin: 5rem;
    margin-top: 10rem;
    padding: 4rem;
    border: 2px solid $lightGray;
    border-radius: 2rem;
}

.main .tt-multi-select,
.select2-container,
.select2 {
    background: #eef2f7 !important;
    border: 0;
    width: 30rem;
    padding: 1rem 1rem;
    outline: 0;
    font-size: 1.2rem;
    color: #205398;
    border-radius: 1rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.main .select2-selection,
.select2-container--default .select2-selection--multiple {
    background-color: #eef2f7 !important;
    border: none !important;
}

.grid {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 20rem;
    margin-bottom: 1.2rem;
    overflow: hidden;
    img {
        width: auto;
        height: auto;
    }
}

.left {
    margin-right: 4rem;
}
h1 {
    color: $blue;
    font-weight: 600;
}
p {
    color: $textBlue;
}
input[type="text"],
input[type="file"],
input[type="date"],
input[type="tel"],
select {
    background: $lightBlue;
    border: 0;
    width: 30rem;
    padding: 1rem 1rem;
    outline: 0;
    font-size: 1.2rem;
    color: $blue;
    border-radius: 1rem;
    box-sizing: border-box;
}

input[type="submit"] {
    outline: 0;
    width: 100%;
    padding: 1rem 1rem;
    background: #205398;
    color: white;
    border-radius: 1rem;
    border: 0;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.2rem;
    transition: 0.2s;
}
input[type="submit"]:hover {
    transform: scale(1.02);
}
input[type="submit"]:active {
    transform: scale(0.98);
}
.field {
    margin: 2rem 0;
    p {
        margin-bottom: 1rem;
    }
}

.fab {
    margin-right: 1rem;
    font-size: 2.5rem;
    color: $blue;
    transition: 0.2s;
}

.fab:hover {
    transform: scale(1.1);
}

title {
    display: none;
}

table {
    margin-top: 2.5rem;
    display: table;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    display: table-cell;
    text-align: left;
    padding: 2rem 4rem;
    font-size: 1.4rem;
}

th {
    background-color: $blue;
    color: white;
}

tr {
    display: table-row;
}

tr:nth-child(even) {
    background-color: $lightBlue;
}

@media (max-width: 1200px) {
    .grid {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        grid-template-columns: none;
    }
    .gallery {
        width: 100%;
        height: auto;
    }
    nav {
        padding: 1rem 2rem;
        .menu {
            button {
                display: block;
            }
            ul {
                display: none;
            }
        }
    }
    .main {
        margin: 0;
        margin-top: 8rem;
        padding: 1rem;
        border: 0;
        .left {
            margin-right: 0;
        }
        input[type="text"],
        input[type="file"],
        input[type="date"],
        input[type="tel"],
        select {
            width: 100%;
        }
        input[type="submit"] {
            width: 100%;
        }
        .row {
            justify-content: center;
            flex-direction: column;
        }
    }
    td,
    th {
        display: table-cell;
        border: 1px solid $lightBlue;
        text-align: left;
        padding: 1rem 2rem;
        font-size: 1rem;
    }
    .fab{
        margin-top: 1rem;
    }
}
